@charset "utf-8";
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#pageX {
    background-color: #fff;
}

.adXleft {
    direction: ltr;    
}

.adXleft img{
    height: 505px;
    width: auto;
}

.adXRight img{
    height: 505px;
    width: auto;
}

.logoX {
	background-color: #2faeff;
	text-align: center;
	padding: 5px;
	border-bottom: thick solid #FFFFFF;
	color: #fff;
	font-size: large;
}

.logoX p {
	margin: 0;
}

.noPadding {
	padding: 0;
}

.paddingR0px {
    padding-right: 0;
}

.paddingL0px {
    padding-left: 0;
}

.marginRL0px {
    margin-right: 0px;
    margin-left: 0px;
}

.marginTB5px {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marginR3Per {
    margin-right: 3%;
}

.marginL3Per {
    margin-left: 3%;
}

.marginB5px {
    margin-bottom: 5px;
}

.size1 {
    height: 280px;
    background-image: url("../images/pic-size1-1.png");
    background-size: cover;
    background-position: center;
}

.size2 {
    height: 180px;
    background-image: url("../images/pic-size2-1.png");
    background-size: cover;
    background-position: center;
}

.sideX1 {
    width: 60%;
    float: left;
}

.sideX2 {
    width: 37%;
    float: left;
}

.sizeThirdX {
    width: 31.333333333%;
    float: left;
}

.height45px {
    height: 45px !important;
}

.height35px {
    height: 35px !important;
}

.height25px {
    height: 25px !important;
}

.width48-5Per {
    width: 48.5%;
    float: left;
}

.width17Per {
    width: 17.6%;
    float: left;
}

.size3 {
    height: 135px;
    background-image: url("../images/pic-size3-1.png");
    background-size: cover;
    background-position: center;
    width: 75%;
    float: left;
}

.size3Side {
    width: 22%;
    float: left;
}

.size2Side {
    width: 37%;
    float: left;
}

.size4 {
    height: 105px;
    background-image: url("../images/pic-size4-1.png");
    background-size: cover;
    background-position: center;
}

.size5 {
    height: 75px;
    background-image: url("../images/pic-size5-1.png");
    background-size: cover;
    background-position: center;
}

.size6 {
    height: 30px;
    background-image: url("../images/pic-size3-1.png");
    background-size: cover;
    background-position: center;
}

.navbar-nav {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none !important;
	width: 19%;
}

.navbar {
    background-color: #2faeff;
    border-radius: 0;
    border: 0;
}

.nav.navbar-nav li a {
	font-size: large;
    color: #fff;
	text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
	opacity: .8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu li a {
    color: #337ab7 !important;
}

.navbar {
	margin-bottom: 0;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
}

#footerX {
    font-size: x-small;
    line-height: 2.5;
}

#copyRightX {
    direction: ltr;
    float: left;
    line-height: 2.5;
    margin-left: 2.5%;
}

.socialMediaX {
    direction: ltr;
    float: right;
    line-height: 2.5;
    margin-right: 2.5%;
}

.socialMediaX i {
    font-size: medium;
    margin-right: 3px;
    margin-left: 3px;
}

.bgX {
/*
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
*/
}

.loginX {
    border-radius: 5px;
    margin-top: 1%;
    background-color: #ececec;
    margin-left: 30px;
}

.loginX h2 {
    margin-top: 8%;
}

.loginX input {
    background-color: #d3d3d3;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 10px;
}

.loginX button {
    background-color: #2faeff;
    color: #fff;
    font-size: 30px;
    padding-bottom: 45px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.loginX h4 {
    margin-bottom: 8%;
}

/* placeholder X-Team */
    ::-webkit-input-placeholder { /* Chrome */
      color: #666666;
      font-size: 1.3em;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #666666;
      font-size: 1.3em;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #666666;
      font-size: 1.3em;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: #666666;
      font-size: 1.3em;
      opacity: 1;
    }
/* end placeholder X-Team */


/* animate.css X-Team */
/*
#ektebLogoX {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
}
*/
/* end animate.css X-Team */